@font-face {
    font-family: poppinsBold;
    src: url(./../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(./../fonts/Poppins-Regular.ttf);
}

body {
    font-family: poppinsRegular;
    background-color: #0c0c0c;
}

/* header */

header {
    width: calc(100% - 500px);
    padding: 30px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left_section {
    display: flex;
    align-items: center;
}

.header_links {
    display: flex;
    margin-left: 80px;
}

.h_link {
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}
.h_link:hover {
    color: #f5cb5c;
}

header .right_section {
    display: flex;
    color: #fff;
}

.header_icon {
    font-size: 18px;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
}

.red_badge {
    background-color: #ba181b;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 10px;
}

.logo_box {
    font-family: poppinsBold;
    font-size: 36px;
    color: #fff;
    letter-spacing: 2px;
    display: flex;
}

.logo_box span {
    color: #f5cb5c;
    font-size: 16px;
    margin: 22px 0 0 5px;
}

.menu_icon {
    background-color: #f5cb5c;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #f5cb5c;
}
.menu_icon:nth-child(2) {
    margin: 0 18px;
}
.menu_icon:hover {
    background-color: #242423;
    color: #f5cb5c;
}

.header_buttons {
    position: absolute;
    left: -125px;
    top: 50px;
    z-index: 0;
    display: flex;
    background-color: #101010;
    padding: 20px 30px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
}
.header_buttons.show {
    opacity: 1;
    z-index: 2;
}

.sign_link {
    text-decoration: none;
    color: #fff;
    background-color: #333533;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.sign_up_link {
    background-color: #f5cb5c;
    color: #000;
    margin-left: 10px;
}

@media (max-width: 1439px) {
    header {
        width: 90%;
        padding: 30px 0px;
        margin: 0 auto;
    }
}

@media (max-width: 1023px) {
    header .right_section {
        display: none;
    }

    .menu_icon {
        display: flex;
    }
}

@media (max-width: 767px) {
    .header_links {
        display: none;
    }

    .logo_box {
        font-size: 30px;
    }

    .logo_box span {
        font-size: 12px;
        margin: 20px 0 0 5px;
    }   

    .menu_icon {
        width: 30px;
        height: 30px;
    }
}

/* footer */

footer {
    width: calc(100% - 200px);
    padding: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    color: #fff;
}

footer .left_section {
    width: 30%;
}

footer .right_section {
    width: 70%;
}

.footer_inf_box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footer_inf_box i {
    font-size: 26px;
    margin-right: 20px;
    color: #f5cb5c;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    border-radius: 50%;
}

footer .title_box {
    font-size: 30px;
    font-family: poppinsBold;
    color: #f5cb5c;
}

.footer_description {
    line-height: 30px;
    letter-spacing: .5px;
    margin: 20px 0;
}

.social_media_pages {
    display: flex;
}

.social_media_pages i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    font-size: 22px;
    color: #f5cb5c;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s;
}
.social_media_pages i:hover {
    background-color: #f5cb5c;
    color: #000;
}

@media (max-width: 1441px) {
    footer .left_section {
        width: 40%;
    }
    
    footer .right_section {
        width: 60%;
    }   
}

@media (max-width: 1439px) {
    footer .left_section {
        width: 50%;
    }
    
    footer .right_section {
        width: 50%;
    }

    footer {
        width: calc(100% - 100px);
        padding: 100px 50px;
    }

    .footer_description {
        letter-spacing: 0;
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    .footer_inf_box {
        letter-spacing: 0;
        font-size: 14px;
    }
    
    .footer_inf_box i {
        font-size: 20px;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }

    footer {
        width: calc(100% - 70px);
        padding: 100px 35px;
    }
}

@media (max-width: 767px) {
    footer {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    footer .left_section {
        width: 100%;
    }
    
    footer .right_section {
        width: 100%;
    }
}

@media (max-width: 424px) {
    footer {
        width: calc(100% - 50px);
        padding: 100px 25px;
    }

    footer .title_box {
        font-size: 24px;
        font-family: poppinsBold;
        color: #f5cb5c;
    }
    
    .footer_description {
        line-height: 20px;
        margin: 20px 0;
        font-size: 12px;
    }   

    .social_media_pages i {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    .footer_inf_box {
        font-size: 12px;
    }
}

/* categories section */

.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.category_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.category_box img {
    width: 140px;
    height: 140px;
    object-fit: contain;
    padding: 10px;
    border-radius: 50%;
    background-color: #0f0f0f;
    cursor: pointer;
    transition: .2s ease-out;
}
.category_box img:hover {
    background-color: #f5cb5c;
}
.category_box.show img {
    background-color: #f5cb5c;
}

.category_box .title_box {
    color: #fff;
    margin-top: 15px;
}

@media (max-width: 1099px) {
    .category_box {
        margin: 0 20px;
    }
    
    .category_box img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 1023px) {
    .category_box {
        margin: 0 10px;
    }
    
    .category_box img {
        width: 100px;
        height: 100px;
    }

    .category_box .title_box {
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .category_box {
        margin: 0 10px 30px 10px;
    }
    
    .category_box img {
        width: 80px;
        height: 80px;
    }

    .category_box .title_box {
        font-size: 12px;
        margin-top: 10px;
    }

    .categories {
        flex-wrap: wrap;
    }
}