@font-face {
    font-family: poppinsBold;
    src: url(./../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(./../fonts/Poppins-Regular.ttf);
}

body {
    background-color: #101010;
    margin: 0;
}

.top_section {
    position: relative;
}

.background_image {
    width: 100%;
    height: 660px;
    background-image: url(./../images/gym.webp);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.top_section_filter_boxes {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    width: 30%;
    left: 36%;
}

.filter_box {
    background-color: #202020;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.filter_box.show {
    background-color: #f5cb5c;
    color: #000;
}
