.shop_countiner {
    width: calc(100% - 200px);
    padding: 0 100px;
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.shop_countiner.show {
    display: flex;
}

.product_box {
    width: 200px;
    background-color: #0f0f0f;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 20px 10px 0 10px;
    cursor: pointer;
    transition: .2s;
    border: 1px solid #0f0f0f;
}
.product_box:hover {
    border-color: #313131;
}

.product_box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}