@font-face {
    font-family: poppinsBold;
    src: url(./../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsRegular;
    src: url(./../fonts/Poppins-Regular.ttf);
}

* {
    font-family: poppinsRegular;
    text-decoration: none;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_form {
    background-color: #181818;
    width: 300px;
    border-radius: 10px;
    padding: 50px 70px;
    position: relative;
    top: 100px;
    transition: 0.8s;
    opacity: 0;
}
.sign_form.show {
    top: 0;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.sign_input {
    width: calc(100% - 40px);
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #fff;
    outline: 0;
    margin-bottom: 20px;
    border: none;
}
.sign_input:focus {
    background-color: #e5e5e5;
}

.submit_btn {
    background-color: #f5cb5c;
    padding: 15px 20px;
    width: 100%;
    outline: 0;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #333533;
}
.submit_btn:hover {
    background-color: #242423;
    color: #fff;
    border-color: #f5cb5c;
    background: none;
    color: #f5cb5c;
}

.title_box {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    color: #e5e5e5;
    font-family: poppinsBold;
}

.alert_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
}

.form_link {
    background-color: #f5cb5c;
    padding: 5px 10px;
    color: #000;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 5px;
}

.sign_form i {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ba181b;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 50%;
    cursor: pointer;
}

@media (max-width: 426px) {
    .sign_form {
        background: none;
        padding: 0;
    }
}

@media (max-width: 321px) {
    .sign_form {
        width: 250px;
    }

    .alert_box {
        font-size: 13px;
    }
}
